// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your page container, using the frontend toolkit grid layout.

// Content wraps the entire site content block, between the header and footer.
// See elements _layout.scss line 8.
#content {
  @include site-width-container;
  @include contain-floats;
  display: block;
  padding-bottom: $gutter;
  @include media(desktop) {
    padding-bottom: $gutter*3;
  }
}

// Here's an example heading
// See elements _typography.scss line 11.
#content h1 {
  @include bold-48();
  margin-top: $gutter-half;
  margin-bottom: $gutter;
  @include media(tablet) {
    margin-top: $gutter;
    margin-bottom: $gutter*2;
  }
}

// Set up the phase banner
// See elements _layout.scss line 22.
.alpha-banner  {
  @include phase-banner(alpha); // Change this to (beta) for a beta banner
  strong {
    text-transform: uppercase;
  }
}
.alpha-tag {
  @include phase-tag(alpha); // Change this to (beta) for a beta tag
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.

 .heading-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.0;
  font-weight: 700;
  text-transform: none;
  margin-top: 0.5em;
  margin-bottom: 0.05em; }
  @media (max-width: 640px) {
    .heading-xsmall {
      font-size: 12px;
      line-height: 1.0; } }
  @media (min-width: 641px) {
    .heading-xsmall {
      margin-top: 0em;
      margin-bottom: 0.05em; } }

 .heading-xsmall-white {
  font-family: "nta", Arial, sans-serif;
  color: black;
  font-size: 14px;
  line-height: 1.0;
  font-weight: 700;
  text-transform: none;
  margin-top: 0.5em;
  margin-bottom: 0.05em; }
  @media (max-width: 640px) {
    .heading-xsmall {
      font-size: 12px;
      line-height: 1.0; } }
  @media (min-width: 641px) {
    .heading-xsmall {
      margin-top: 0em;
      margin-bottom: 0.05em; } }

.column-quarter {
  padding: 0 15px;
  box-sizing: border-box; 
  margin-top: 1.0em;
  //background-color: #456e40;
    //background-color: #e6e6e6;
    }
  @media (min-width: 641px) {
    .column-quarter {
      float: left;
      width: 25%; } }

  p.data { 
    margin-top: 0.0m;
    margin-bottom: 0.5em;
    font-size: 14px;
    color: black;}

  p.dataerror { 
    margin-top: 0.0m;
    margin-bottom: 0.5em;
    font-size: 14px;
    color: red;}

  p.fields { 
    margin-top: 0.5em;
   margin-bottom: 0.05em;
    font-size: 14px;
    }

  p.head { 
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    }

    .grid-row-current {
  margin: 0 -15px; 
  //background-color: #456e40;}
  background-color: #e6e6e6;}
  .grid-row-current:after {
    content: "";
    display: block;
    clear: both; }

    .grid-row-current {
  margin: 0 0px;
  //background-color: #456e40; }
  background-color: #e6e6e6;}

  .button-secondary {
    @include button ($grey-3);
    font-family: "nta", Arial, sans-serif;
  color: black;
  font-size: 14px;
  line-height: 1.0;
  font-weight: 400;
  }


.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  font-size: 16px;
  border: 1px solid #dee0e2;
  padding: 8px 30px 5px 45px;
  margin-top: 1px;
  margin-bottom: 1px;
  cursor: pointer; }
  @media (min-width: 641px) {
    .block-label {
      float: left;
      margin-top: 1px;
      margin-bottom: 1px; } }
  .block-label input {
    position: absolute;
    top: 8px;
    left: 15px;
    cursor: pointer; }
  .block-label:hover {
    border-color: #0b0c0c; }