{{<layout}}

{{$pageTitle}}Change of Address{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <header class="page-header">

<script>
function autotab(current,to){
    if (current.getAttribute && 
      current.value.length==current.getAttribute("maxlength")) {
        to.focus() 
        }
}
</script>

<script>
function autotabphone(){
    
    var regphonenumber = /^([a-zA-Z]){1}([0-9][0-9]|[0-9]|[a-zA-Z][0-9][a-zA-Z]|[a-zA-Z][0-9][0-9]|[a-zA-Z][0-9]){1}([0-9][a-zA-z][a-zA-z]){1}$/;
var regphonenumber2 = /^([a-zA-Z]){1}([0-9][0-9]|[0-9]|[a-zA-Z][0-9][a-zA-Z]|[a-zA-Z][0-9][0-9]|[a-zA-Z][0-9]){1}([ ])([0-9][a-zA-z][a-zA-z]){1}$/;

    
     document.getElementById('daytel').style.border = "4px solid red";
 

    
    
}

</script>

<script>
   var currentfield1V =" \n&nbsp";
   var currentfield2V =" \n&nbsp";
   var currentfield3V = " \n&nbsp";
   var currentfield4V = " \n&nbsp";
  //bits to hide show indo pannl
  //var divinfohide = document.getElementById( "infobanner1" );
      

       // if ( divee.style.display !== "none" ) {
       //      divee.style.display = "none";
       //      divinfohide.style.display = "block";


  function autotab2(current,to){

var divinfohide = document.getElementById( "infobanner1" );

var refnov = "ref:000 000 000";
var titlefieldV = " \n&nbsp";
var GenderV = " \n&nbsp";
var SurnamefieldV = " \n&nbsp";
var forefieldV = " \n&nbsp";
var dobfieldV = " \n&nbsp";
    currentfield1V = " \n&nbsp";
    currentfield2V =" \n&nbsp";
    currentfield3V = " \n&nbsp";
    currentfield4V = " \n&nbsp";
var phonenumberfieldV = " \n&nbsp";
var emailfieldV = " \n&nbsp";
var drivernofieldV = " \n&nbsp";
var issuefieldV = " \n&nbsp";
var statusV = " \n&nbsp";
var validfrfieldV = " \n&nbsp";
var validtofieldV = " \n&nbsp";
var photoexpfieldV = " \n&nbsp";
foundaddress =" \n&nbsp";

var photoV = "../public/images/samplephoto_blank.png"
var signaV = "../public/images/samplesig_blank.png"

var s1 = document.forms["form1"]["DR-number3"].value;

s1 = s1.toUpperCase();


  

// PRMRO757022D09KM
    if (s1=="PRMRO757022D09KM"){
      document.getElementById('DR-number3').style.border = "1px solid #bfc1c3";
        var refnov = "Ref:81234 120 0000";
    var titlefieldV = "Mrs";
    var GenderV = "Female";
    var SurnamefieldV = "Prmrowxyz";
    var forefieldV = "Dynaomo Oswald";
    var dobfieldV = "O2 07 1972";
        currentfield1V = "75 Cloud Lane";
        currentfield2V = "Lothlorien";
        currentfield3V = "Swansea";
        currentfield4V = "SA6 7JL";
    var phonenumberfieldV = "01792 520584";
    var emailfieldV = "Dynaomo.Prmrowxyz@freemail.com";
    var drivernofieldV = "PRMO757022D09KM";
    var issuefieldV = "05"
    var statusV = "Full"
    var validfrfieldV = "21 07 2011"
    var validtofieldV = "21 07 2018"
    var photoexpfieldV = "21 07 2018"
    var photoV = "../public/images/samplephoto.png"
    var signaV = "../public/images/samplesig.png"

    foundaddress = "244 Mud Place\nImladris\nSwansea\nSA5 8ET"

    document.getElementById("drivernumberror").innerHTML = "";
 
    Issuenumber2.focus();

    divinfohide.style.display = "none";

// FIRED560012A99XZ
}   else if (s1=="FIRED560012A99XZ"){
//make infobox appear
       // if ( divinfohide.style.display !== "none" ) {
            divinfohide.style.display = "block";
          // }


      document.getElementById('DR-number3').style.border = "1px solid #bfc1c3";
        var refnov = "Ref:81234 120 0001";
    var titlefieldV = "Mrs";
    var GenderV = "Female";
    var SurnamefieldV = "Firedrakes";
    var forefieldV = "Alicia";
    var dobfieldV = "01 10 52";
        currentfield1V = "1 North Road";
        currentfield2V ="High Wycombe";
        currentfield3V = "";
        currentfield4V = "HP15 2LY";
    var phonenumberfieldV = " \n&nbsp";
    var emailfieldV = " \n&nbsp";
    var drivernofieldV = "FIRED560012A99XZ";
    var issuefieldV = "05";
    var statusV = "Full"
    var validfrfieldV = "21 07 2011"
    var validtofieldV = "21 07 2018"
    var photoexpfieldV = "21 07 2018"
    var photoV = "../public/images/samplephotoFIR.png"
    var signaV = "../public/images/samplesigFIR.png"

    foundaddress ="2 Friendship Lane\nBanbury\nOX15 3HZ";

    document.getElementById("drivernumberror").innerHTML = "";

   

    Issuenumber2.focus() 

    // BRAND705104R99YZ
 }   else if (s1=="BRAND705104R99YZ" && current.getAttribute && 
      current.value.length==current.getAttribute("maxlength")){
      document.getElementById('DR-number3').style.border = "1px solid #bfc1c3";
        var refnov = "Ref:81234 120 0003";
    var titlefieldV = "Mr";
    var GenderV = "Male";
    var SurnamefieldV = "Brandybuck";
    var forefieldV = "Rhys";
    var dobfieldV = "10 05 74";
        currentfield1V = "31 Pellenor Fields";
        currentfield2V ="Ithilien";
        currentfield3V = "Birmingham";
        currentfield4V = "CV1 2AQ";
    var phonenumberfieldV = " \n&nbsp";
    var emailfieldV = " \n&nbsp";
    var drivernofieldV = "BRAND705104R99YZ";
    var issuefieldV = "03";
    var statusV = "Full";
    var validfrfieldV = "21 07 2011"
    var validtofieldV = "21 07 2018"
    var photoexpfieldV = "21 07 2018"
  var photoV = "../public/images/samplephotoBRA.png"
    var signaV = "../public/images/samplesigBRA.png"

    foundaddress ="Bag End\nHobbiton\nCoventry\nCV1 2AQ";
    

    document.getElementById("drivernumberror").innerHTML = "";
 
    Issuenumber2.focus() 

    divinfohide.style.display = "none";



} else if (current.getAttribute && 
      current.value.length==current.getAttribute("maxlength")) {
        document.getElementById('DR-number3').style.border = "4px solid red";
        document.getElementById("drivernumberror").innerHTML = "Driver number not found";

        divinfohide.style.display = "none";


        } 
  //SET VARIABLES
  document.getElementById("RefNo2").innerHTML = refnov;
  document.getElementById("titlefield").innerHTML = titlefieldV;
  document.getElementById("genderfield").innerHTML = GenderV;
  document.getElementById("Surnamefield").innerHTML = SurnamefieldV;
  document.getElementById("forefield").innerHTML = forefieldV;
  document.getElementById("dobfield").innerHTML = dobfieldV;
  document.getElementById("currentfield1").innerHTML = currentfield1V;
  document.getElementById("currentfield2").innerHTML = currentfield2V;
  document.getElementById("currentfield3").innerHTML = currentfield3V;
  document.getElementById("currentfield4").innerHTML = currentfield4V;
  document.getElementById("phonenumberfield").innerHTML = phonenumberfieldV;
  document.getElementById("emailfield").innerHTML = emailfieldV;
  document.getElementById("drivernofield").innerHTML = drivernofieldV;
  document.getElementById("issuefield").innerHTML = issuefieldV;
  document.getElementById("statusfield").innerHTML = statusV;
  document.getElementById("validfrfield").innerHTML = validfrfieldV;
  document.getElementById("validtofield").innerHTML = validtofieldV;
  document.getElementById("photoexpfield").innerHTML = photoexpfieldV;

  document.photoimg.src = photoV
  document.sigimg.src = signaV
}
</script>


<script >
function tabcheck() {
  var s1 = document.forms["form1"]["DR-number3"].value;
  
  if (s1 != ""){
    document.getElementById('DR-number3').style.border = "4px solid red";
    document.getElementById("drivernumberror").innerHTML = "Driver number not found";
    divinfohide.style.display = "none";
  } else {
    document.getElementById('DR-number3').style.border = "1px solid #bfc1c3";
    document.getElementById("drivernumberror").innerHTML = "";
    divinfohide.style.display = "none";
  }
}
</script>

<script>

function postcode_validate(postcode)
{
var regPostcode = /^([a-zA-Z]){1}([0-9][0-9]|[0-9]|[a-zA-Z][0-9][a-zA-Z]|[a-zA-Z][0-9][0-9]|[a-zA-Z][0-9]){1}([0-9][a-zA-z][a-zA-z]){1}$/;
var regPostcode2 = /^([a-zA-Z]){1}([0-9][0-9]|[0-9]|[a-zA-Z][0-9][a-zA-Z]|[a-zA-Z][0-9][0-9]|[a-zA-Z][0-9]){1}([ ])([0-9][a-zA-z][a-zA-z]){1}$/;
var postcodekeyed = document.forms["form2"]["pcode"].value;

if(regPostcode.test(postcodekeyed) == false && regPostcode2.test(postcodekeyed) == false) {

document.getElementById("postcodeerror").innerHTML = "Postcode is not valid";
document.getElementById('pcode').style.border = "4px solid red"; 

}
else{
 document.getElementById("postcodeerror").innerHTML = "";
 document.getElementById('pcode').style.border = "1px solid #bfc1c3"; 
 
}

}

</script>


<script>
  function FindAddress2() { 
    chooseaddress1.style.display = "none";
    var regPostcode = /^([a-zA-Z]){1}([0-9][0-9]|[0-9]|[a-zA-Z][0-9][a-zA-Z]|[a-zA-Z][0-9][0-9]|[a-zA-Z][0-9]){1}([0-9][a-zA-z][a-zA-z]){1}$/;
    var regPostcode2 = /^([a-zA-Z]){1}([0-9][0-9]|[0-9]|[a-zA-Z][0-9][a-zA-Z]|[a-zA-Z][0-9][0-9]|[a-zA-Z][0-9]){1}([ ])([0-9][a-zA-z][a-zA-z]){1}$/;
    var postcodekeyed = document.forms["form2"]["pcode"].value;
    postcodekeyed = postcodekeyed.toUpperCase();

if(regPostcode.test(postcodekeyed) == false && regPostcode2.test(postcodekeyed) == false) {

document.getElementById("postcodeerror").innerHTML = "Postcode is not valid";
document.getElementById('pcode').style.border = "4px solid red"; 
daytel.focus()

}
else if(postcodekeyed == "CV12AQ"|| postcodekeyed == "CV1 2AQ"){
  chooseaddress1.style.display = "block";
  chooseaddressbox.focus()

}
else{
 document.getElementById("postcodeerror").innerHTML = "";
 document.getElementById('pcode').style.border = "1px solid #bfc1c3"; 
 
 var textToAppend = foundaddress
 document.getElementById('Address3').value = textToAppend;
 daytel.focus()
 
}
  }

daytel.focus()

</script>


<script>
  function PopulateAddress() { 
    var textToAppend = currentfield1V + "\n" + currentfield2V + "\n" + currentfield3V + "\n" + currentfield4V 
    document.getElementById('Address3').value = textToAppend;
 } 
</script>

<script>
  function PopulateAddress2() { 
    foundaddress ="Bag End\nHobbiton\nCoventry\nCV1 2AQ";
    var textToAppend = foundaddress
    document.getElementById('Address3').value = textToAppend;

    chooseaddress1.style.display = "none";
    daytel.focus()
 } 
</script>


<script>
// function toggle2(source) {
//   checkboxes = document.getElementsByName('organform');
//   for(var i=0, n=checkboxes.length;i<n;i++) {
//     checkboxes[i].checked = source.checked;
//   }
//  document.getElementById("alltissue").checked = false;
//  document.getElementById("withdraw").checked = false;
// }
// </script>


<script>
function toggletissue2(source) {
  checkboxes = document.getElementsByName('organform');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
 // document.getElementById("all").checked = false;
 document.getElementById("withdraw").checked = false;
}
</script>


<script>
function togglewithdraw2(source) {
 // document.getElementById("all").checked = false;
 document.getElementById("alltissue").checked = false;
 document.getElementById("heart").checked = false;
 document.getElementById("lungs").checked = false;
 document.getElementById("kidnies").checked = false;
 document.getElementById("pancreas").checked = false;
 document.getElementById("corneas").checked = false;
 document.getElementById("liver").checked = false;
}
</script>


<script>
function Submiten() { 
 
    window.location.href ="COA.html";
   
 }
</script>


<script>
function emailformat() {
    var x = document.forms["form3"]["email"].value;
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
   
    // if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length ) {
      if (x != "" ) {
        if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length ) {
      document.getElementById('email').style.border = "4px solid red";
      document.getElementById("emailerror").innerHTML = "Not in email address format e.g. name@company.com";

        return false;
      }
        else {
        document.getElementById('email').style.border = "1px solid #bfc1c3"; 
        document.getElementById("emailerror").innerHTML = "";
    }}
        else {
        document.getElementById('email').style.border = "1px solid #bfc1c3"; 
        document.getElementById("emailerror").innerHTML = "";
  }}


</script>


<script >
function isNumber(evt) {
    evt = (evt) ? evt : window.event;
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}
</script>

<script>
    function showhide() {
     var DRnumcheck = document.forms["form1"]["DR-number3"].value;
     var Issuenumber2check = document.forms["form1"]["Issuenumber2"].value;
     var housenumbercheck = document.forms["form2"]["housenumber"].value;
     var pcodecheck = document.forms["form2"]["pcode"].value;
     var Addresscheck = document.forms["form3"]["Address3"].value;
     var daytelcheck = document.forms["form3"]["daytel"].value;
     var mobnocheck = document.forms["form3"]["mobno"].value;
     var emailcheck = document.forms["form3"]["email"].value;
     var countborncheck = document.forms["form3"]["countrybornin"].value;
      
      var divee = document.getElementById( "hide_show" );
      var divee2 = document.getElementById( "hide_show2" );

       if ( divee.style.display !== "none" ) {
            divee.style.display = "none";
            divee2.style.display = "block";
          
          if (DRnumcheck !== ""){
          document.getElementById('DR-number3').style.border = "4px solid #FFBF47";
          }
          if (Issuenumber2check !== ""){
          document.getElementById('Issuenumber2').style.border = "4px solid #FFBF47";
          }
          if (housenumbercheck !== "" || pcodecheck !== "" ){
          document.getElementById('housenumber').style.border = "4px solid #FFBF47";
          document.getElementById('pcode').style.border = "4px solid #FFBF47";
          document.getElementById('Address3').style.border = "4px solid #FFBF47";
          }
          if (daytelcheck !== ""){
          document.getElementById('daytel').style.border = "4px solid #FFBF47";
          }
          if (mobnocheck !== ""){
          document.getElementById('mobno').style.border = "4px solid #FFBF47";
          }
          if (emailcheck !== ""){
          document.getElementById('email').style.border = "4px solid #FFBF47";
          }
          if (countborncheck !== ""){
          document.getElementById('countrybornin').style.border = "4px solid #FFBF47";
          }
           
        } 
       Submit2.focus() 
        }

    
</script>

  


</header>



<!--   <details open >

  <summary role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="true">
  <span class="heading-small">Current Information</span>
  </summary> -->

    <!-- <div > -->
    <!-- <h4 class="heading-small">Current Information</h4> -->
      <div class="example example-grid">
        <div class="infobanner" id="infobanner1">
          <br>
          <br>
        </div>
      </div>

      <div class="example example-grid">
      <div class="grid-row-current">
       <div class="column-quarter">
          <!-- <p class ="data"><h4 class="heading-xsmall-white">Title</h4></p> -->
          <h4 class ="heading-xsmall-white">Title</h4>
            <p class ="data" id="titlefield"> &nbsp;</p>
            <h4 class="heading-xsmall-white">Gender</h4>
            <p class="data" id="genderfield"> &nbsp;</p>
            <h4 class="heading-xsmall-white">Surname</h4>
            <p class="data" id="Surnamefield"> &nbsp;</p>
             <h4 class="heading-xsmall-white">Fore name(s)</h4>
            <p class ="data"id="forefield"> &nbsp;</p>
            <h4 class="heading-xsmall-white">Date of Birth</h4>
            <p class="data" id="dobfield"> &nbsp;</p>
        </div>
       
        <div class="column-quarter">
           <h4 class="heading-xsmall-white">Current address</h4>
            <p class ="data" id="currentfield1">&nbsp;</p>
            <p class ="data" id="currentfield2">&nbsp;</p>
            <p class ="data" id="currentfield3">&nbsp;</p>
            <p class ="data" id="currentfield4">&nbsp;</p>
            
            
               
                <h4 class="heading-xsmall-white">Day time tel number</h4>
            <p class ="data" id="phonenumberfield">&nbsp;</p>
                
                
               <h4 class="heading-xsmall-white">Mobile number</h4>
            <p class ="data" id="mobilefield"> &nbsp;</p>
              <h4 class="heading-xsmall-white">Email address</h4>
            <p class ="data" id="emailfield">&nbsp;</p>
            
        </div>
        <div class="column-quarter">
          <h4 class="heading-xsmall-white">Driver number</h4>
          <p class ="data" id="drivernofield">&nbsp;</p>
          <h4 class="heading-xsmall-white">Issue number</h4>
          <p class ="data" id="issuefield">&nbsp;</p>
         
            <h4 class="heading-xsmall-white">Licence status</h4>
            <p class ="data" id="statusfield">&nbsp;</p>
            <h4 class="heading-xsmall-white">Valid from</h4>
            <p class ="data" id="validfrfield">&nbsp;</p>
            <h4 class="heading-xsmall-white">Valid to</h4>
            <p class ="data" id="validtofield">&nbsp;</p>
        </div>
        <div class="column-quarter" background-color="#ffffff";>
            <h4 class="heading-xsmall-white">Photo expiry date</h4>
            <p class ="data" id="photoexpfield">&nbsp;</p>
            <img src="../public/images/samplephoto_blank.png" name="photoimg"/>
            <img src="../public/images/samplesig_blank.png" name="sigimg"/>
        </div>
      </div>
    </div>
<!--  </details> -->

 <!-- <hr> --><!-- -------------------- -->


 <div id="RefNo2"class="heading-xsmall" align="right"> Ref:000 000 000 </div>

<!--  <h4 class="heading-small">New Information</h4> -->


    <div class="example example-grid">

      <div class="grid-row">

        <div class="column-quarter">
         <form id="form1" name="form1" method="post" action="">
           
            <p class ="fields"><label class="heading-xsmall" for="reason">
              Reason for Issue</label></P>
            <select  name="Reason" id="Reason" >
              <option value="Choose reason...">Choose reason...</option>
              <option value="Change Address" selected>Change Address</option>
              <option value="Replace">Replace</option>
              <option value="Renew">Renew</option>
              <option value="1st Application">1st Application</option>
            </select>

           <!--  <p class ="fields"><label class="heading-xsmall" for="DR-number3">Driver Number</label></p>
            <input type="text"  class="form-control-small" id="DR-number3" onKeyup="autotab2(this, document.form1.Issuenumber2)"value="" maxlength="16" autofocus/> -->

            <p class ="fields"><label class="heading-xsmall" for="DR-number3">Driver Number</label></p>
            <input type="text"  class="form-control-small" id="DR-number3"  onKeyup="autotab2(this, document.form1.Issuenumber2)" onKeyDown="if (event.keyCode == 9) tabcheck()" maxlength="16" autofocus/>
            <p class ="dataerror" id="drivernumberror"> </p>

            <p class ="fields"><label class="heading-xsmall" for="Issuenumber2"> Issue Number </label></p>
            <input type="text" class="form-control-1-4-small" id="Issuenumber2" onkeypress="return isNumber(event)" onKeyup="autotab(this, document.form2.housenumber)" value="" maxlength="2"></p>

            <!-- <input name="Start" type="button" class="button" value="Start" onClick="changeImage()" > -->
          </form>
        </div>

      <div class="column-third">
          <form id="form2" name="form2" method="post" action="">


          <p class="fields"><label class="heading-xsmall" for="ni-number2">House number/name </label></p>
          <input type="text" class="form-control-small" id="housenumber" >

          <p class="fields"><label class="heading-xsmall" for="ni-number5" >Post code</label></p>
            <input type="text" class="form-control-1-4-small" id="pcode" onKeyDown="if (event.keyCode == 13)FindAddress2()" >

          <p class ="dataerror" id="postcodeerror"> </p>
  
           <p class="fields"><input name="Findaddress1" type="button" class="button" value="Find Address" onclick="FindAddress2()" />
            
          <input name="popaddress1" type="button" class="button-secondary" value="Current Address" onclick="PopulateAddress()" /></p>
          <div class= "chooseaddress" id="chooseaddress1"> 
<p class="fields"><label class="heading-xsmall" for="ni-number5.5" >Choose address</label></p>
            <select size="5" id="chooseaddressbox" style="width:100%" onclick="PopulateAddress2()" onKeyDown="if (event.keyCode == 13) PopulateAddress2()">
                <option value="Bag End, Hobbiton, Coventry, CV12AQ">Bag End, Hobbiton, Coventry, CV12AQ</option>
                <option value="1 Lower Lane, Hobbiton, Coventry, CV12AQ">1 Lower Lane, Hobbiton, Coventry, CV12AQ     </option>
                <option value="2 Lower Lane, Hobbiton, Coventry, CV12AQ">2 Lower Lane, Hobbiton, Coventry, CV12AQ     </option>
                <option value="3 Lower Lane, Hobbiton, Coventry, CV12AQ">3 Lower Lane, Hobbiton, Coventry, CV12AQ     </option>
                </select> 
          </div>
    
    </form>
 <!-- SAME ORDER AS D1 STOP CHANGING THINGS ROUND -->       
<form id="form3" name="form3" method="post" action="">
        <label class="heading-xsmall" for="ni-number6">New Address</label>
        <textarea name="Address3" rows="5" class="form-control-addressbox" id="Address3" ></textarea>

<table style="border: 1px solid white; width:100%; cellspacing=0; cellpadding=0">
        <tr>
          <td width="50%"><label class="heading-xsmall" for="ni-number7">Daytime tel number </label>
            <input name="daytel" type="text" class="form-control-small" id="daytel" onkeypress="return isNumber(event)" onKeyup="autotab(this, document.form3.mobno)" size="11" maxlength="11"></td>

          <td width="50%"><label class="heading-xsmall" for="ni-number8">&nbsp;Mobile number</label>
            <input name="mobno" type="text" class="form-control-small" id="mobno"  onkeypress="return isNumber(event)" onKeyup="autotab(this, document.form3.email)" size="11" maxlength="11"></td>
        </tr>
      </table>
      <p class ="dataerror" id="phonenumbererror"></p>
  
      <p class="fields"><label class="heading-xsmall" for="ni-number2" id="emaillable"> Email address</label></P>
        <input type="text" class="form-control-small" id="email" onKeyDown="if (event.keyCode == 9) emailformat()">
        <p class ="dataerror" id="emailerror"></p>

<p class="fields"><label class="heading-xsmall" for="ni-number7">Country you were born in</label></P>
        <!--<input type="text" class="form-control" id="countborn">-->
        <input type=text class="form-control-small" list=browsers  id="countrybornin">
        <datalist id=browsers >
          <option> Afghanistan
          <option> Albania
          <option> Algeria
          <option> Andorra
          <option> Angola
          <option> Antigua & Deps
          <option> Argentina
          <option> Armenia
          <option> Australia
          <option> Austria
          <option> Azerbaijan
          <option> Bahamas
          <option> Bahrain
          <option> Bangladesh
          <option> Barbados
          <option> Belarus
          <option> Belgium
          <option> Belize
          <option> Benin
          <option> Bhutan
          <option> Bolivia
          <option> Bosnia Herzegovina
          <option> Botswana
          <option> Brazil
          <option> Brunei
          <option> Bulgaria
          <option> Burkina
          <option> Burundi
          <option> Cambodia
          <option> Cameroon
          <option> Canada
          <option> Cape Verde
          <option> Central African Rep
          <option> Chad
          <option> Chile
          <option> China
          <option> Colombia
          <option> Comoros
          <option> Congo
          <option> Congo {Democratic Rep}
          <option> Costa Rica
          <option> Croatia
          <option> Cuba
          <option> Cyprus
          <option> Czech Republic
          <option> Denmark
          <option> Djibouti
          <option> Dominica
          <option> Dominican Republic
          <option> East Timor
          <option> Ecuador
          <option> Egypt
          <option> El Salvador
          <option> England 
          <option> Equatorial Guinea
          <option> Eritrea
          <option> Estonia
          <option> Ethiopia
          <option> Fiji
          <option> Finland
          <option> France
          <option> Gabon
          <option> Gambia
          <option> Georgia
          <option> Germany
          <option> Ghana
          <option> Greece
          <option> Grenada
          <option> Guatemala
          <option> Guinea
          <option> Guinea-Bissau
          <option> Guyana
          <option> Haiti
          <option> Honduras
          <option> Hungary
          <option> Iceland
          <option> India
          <option> Indonesia
          <option> Iran
          <option> Iraq
          <option> Ireland {Republic}
          <option> Israel
          <option> Italy
          <option> Ivory Coast
          <option> Jamaica
          <option> Japan
          <option> Jordan
          <option> Kazakhstan
          <option> Kenya
          <option> Kiribati
          <option> Korea North
          <option> Korea South
          <option> Kosovo
          <option> Kuwait
          <option> Kyrgyzstan
          <option> Laos
          <option> Latvia
          <option> Lebanon
          <option> Lesotho
          <option> Liberia
          <option> Libya
          <option> Liechtenstein
          <option> Lithuania
          <option> Luxembourg
          <option> Macedonia
          <option> Madagascar
          <option> Malawi
          <option> Malaysia
          <option> Maldives
          <option> Mali
          <option> Malta
          <option> Marshall Islands
          <option> Mauritania
          <option> Mauritius
          <option> Mexico
          <option> Micronesia
          <option> Moldova
          <option> Monaco
          <option> Mongolia
          <option> Montenegro
          <option> Morocco
          <option> Mozambique
          <option> Myanmar, {Burma}
          <option> Namibia
          <option> Nauru
          <option> Nepal
          <option> Netherlands
          <option> New Zealand
          <option> Nicaragua
          <option> Niger
          <option> Nigeria
          <option> Norway
          <option> Northern Ireland
          <option> Oman
          <option> Pakistan
          <option> Palau
          <option> Panama
          <option> Papua New Guinea
          <option> Paraguay
          <option> Peru
          <option> Philippines
          <option> Poland
          <option> Portugal
          <option> Qatar
          <option> Romania
          <option> Russian Federation
          <option> Rwanda
          <option> St Kitts & Nevis
          <option> St Lucia
          <option> Saint Vincent & the Grenadines
          <option> Samoa
          <option> San Marino
          <option> Sao Tome & Principe
          <option> Saudi Arabia
          <option> Scotland
          <option> Senegal
          <option> Serbia
          <option> Seychelles
          <option> Sierra Leone
          <option> Singapore
          <option> Slovakia
          <option> Slovenia
          <option> Solomon Islands
          <option> Somalia
          <option> South Africa
          <option> South Sudan
          <option> Spain
          <option> Sri Lanka
          <option> Sudan
          <option> Suriname
          <option> Swaziland
          <option> Sweden
          <option> Switzerland
          <option> Syria
          <option> Taiwan
          <option> Tajikistan
          <option> Tanzania
          <option> Thailand
          <option> The Shire
          <option> Togo
          <option> Tonga
          <option> Trinidad & Tobago
          <option> Tunisia
          <option> Turkey
          <option> Turkmenistan
          <option> Tuvalu
          <option> Uganda
          <option> Ukraine
          <option> United Arab Emirates
          <option> United Kingdom
          <option> United States
          <option> Uruguay
          <option> Uzbekistan
          <option> Vanuatu
          <option> Vatican City
          <option> Venezuela
          <option> Vietnam
          <option> Wales
          <option> Yemen
          <option> Zambia
          <option> Zimbabwe 
        </datalist>
        
      
        
  
      
      <p>&nbsp;</p>
    </form></p>
        </div>
        
        <div class="column-third">
           
  
     <form id="form4" name="form4" method="post" action="">
       
         <p class="fields"><label class="heading-xsmall" for="full-name2">Eyesight</label></P>
         <select name="eyes" id="eyes">
          <option value="No change"> </option>
           <option value="No glases">No glasses</option>
           <option value="Glasses">Glasses</option>
         </select>
       </p>

    </form>

    <form id="organform" name="organform" method="post" action="">
      <p class="fields"><label class="heading-xsmall" >Organ donation</label></P>
      <!-- <label>
        <input type="checkbox" name="organform" id="all" onClick="toggle2(this)"/>
      <span class="bold-xsmall">All</span></label> -->
     <!--  <br> -->
      <label>
        <input type="checkbox" name="organform" id="alltissue" onClick="toggletissue2(this)" />
        <span class="bold-xsmall">All with tissue</span></label>
      <br>
      <label>
        <input type="checkbox" name="organform" id="kidnies"/>
        <span class="bold-xsmall">Kidneys</span></label>
      <br>
      <label>
        <input type="checkbox" name="organform" id="corneas"/>
        <span class="bold-xsmall">Corneas</span></label>
      <br>
      <label>
        <input type="checkbox" name="organform" id="heart"/>
        <span class="bold-xsmall">Heart </span></label>
      <br>
      <label>
        <input type="checkbox"name="organform" id="lungs"/>
        <span class="bold-xsmall">Lungs </span></label>
      <br>
      <label>
        <input type="checkbox" name="organform"id="pancreas"/>
        <span class="bold-xsmall">Pancreas </span></label>
      <br>
      <label>
        <input type="checkbox" name="organform"id="withdraw"onClick="togglewithdraw2(this)"/>
        <span class="bold-xsmall">Withdraw consent</span></label>
      </p>
    </form>
      
            
            
            
          <p><div id = "hide_show"><input name="Submit" type="button" class="button" id="Submit" value="Submit" onClick="showhide()" > </p></div>
        
          <div class="starthidden" id = "hide_show2"><div class ="grid-row-inline"><p class="fields"><label class="heading-xsmall" >Check changes and click submit</p><p class="fields"><input name="Submit2" type="button" class="button" id="Submit2" value="Confirm" onClick="Submiten()"> <input name="Cancel" type="button" class="button-secondary" value="Cancel" /></P>  </div></div>
<!--           style="display:none"
 -->           <!-- <p>&nbsp;</p> -->
  <!-- </div>
        </div>
      </div> -->
    <!-- </div> -->

</body>
</main>
{{/content}}

{{/layout}}
