{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <header class="page-header">
    <h1>Welcome to the GOV.UK prototyping kit you git</h1>
  </header>
  <body>
  <h4 class="heading-small">Halves</h4>
    <div class="example example-grid">
      <div class="grid-row">
        <div class="column-half">
          <p>Content</p>
        </div>
        <div class="column-half">
          <p>Content</p>
        </div>
      </div>
    </div>
</body>
</main>
{{/content}}

{{/layout}}
