{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  <header class="page-header">


<script>
function Submiten() { 
 
  window.location.href ="COA.html";
   
 }
</script>

<script>
function reseten() { 
 
  window.location.href = "index.html";
   
 }
</script>

  </header>
  <body>
  	
  
    <div class="example example-grid">
      <h4 class="heading-small">Section 1</h4>
      <div class="grid-row">
        <div class="column-half">

            <p class ="fields"><label class="heading-xsmall" for="reason">
              Reason for viewing record</label></P>
            <select  name="Reason" id="Reason" >
              <option value="Choose reason...">Choose reason...</option>
              <option value="Change Address" selected>Customer Enquiry Telephone</option>
              <option value="Replace">Customer (Offline)</option>
              <option value="Renew">Data Integrity Check</option>
              <option value="1st Application">Record compliance</option>
               <option value="1st Application">Transaction</option>
            </select>

      <p class ="fields"><label class="heading-xsmall" for="DR-number3">Driver Number</label></P>
      <input type="text"  class="form-control-3-4-small" id="DR-number3"  onKeyup="autotab2(this, document.form1.Issuenumber2)" onKeyDown="if (event.keyCode == 9) tabcheck()" maxlength="16" />
      
    </div>
   	 </div>
  <div class="example example-grid">
      <h4 class="heading-small">Section 2</h4>
      <div class="grid-row">
        
        <div class="column-third">
          

          <p class ="fields"><label class="heading-xsmall" for="full-name-f1">Surname</label></p>
      <input  type="text" class="form-control-3-4-small" id="surname" > 

      

      <p class ="fields"><label class="heading-xsmall" for="full-name-f1">Forename 1</label></P>
      <input class="form-control-3-4-small" id="forenam1" type="text"> 
    

    <p class ="fields"><label class="heading-xsmall" for="full-name-f1">Gender</label></P>
       <label class="block-label" for="radio-1">
        <input id="radio-1" type="radio" name="radio-group2" value="Female">
            Female
        </label> </p>
        <p><label class="block-label" for="radio-2">
        <input id="radio-2" type="radio" name="radio-group2" value="Male">
        Male
    
  </div>
    <div class="column-third">
         
      <p class ="fields"><label class="heading-xsmall" for="full-name-f1">Forename 2</label></P>
      <input class="form-control-3-4-small" id="forenam2" type="text"> 

      <p class ="fields"><label class="heading-xsmall" for="full-name-f1">Date of birth</label></P>
      <input class="form-control-1-2" id="forenam1" type="text"> 
    

  </div>
 </div>
    
<h4 class="heading-small">Section 3</h4>
<div class="grid-row">
  
    <div class="column-half">
      
    
  <p class="fields"><label class="heading-xsmall" for="ni-number2">House number/name </label></p>
          <input type="text" class="form-control-3-4-small"  id="housenumber" >

          <p class="fields"><label class="heading-xsmall" for="ni-number5">Post code</label></p>
          <input type="text" class="form-control-1-4-small" id="ni-number5" onKeyDown="if (event.keyCode == 13) document.getElementById('Findaddress1').click()"></p>
  <!-- <p></p> -->
<div >
      <button class="button" input name="Submit" type="button" class="button" id="Submit" value="Submit" onClick="Submiten()" >Start Now </button>
    <!-- </div>
<div class="form-group"> -->
          <button class="button-secondary" onClick="reseten()">Reset</button>
          
        </div>
</body>
</main>
{{/content}}

{{/layout}}
